.externalNotesContainer {
	width: calc(100vw - 4vw - 100px);
	min-height: 87vh;

	position: absolute;
	top: 9vh;
	right: 0vw;

	padding: 3vh 2vw;

	transition: all 0.4s;
}

.notesContainer {
	position: relative;
	width: 96%;
	min-height: 10vh;
	display: flex;
	flex-wrap: wrap;
	padding: 2%;

	/* border-bottom: 2px double var(--dark-color); */
}


.notesHeader {
	width: 100%;
	height: 10%;
	display: flex;
	align-items: center;
	opacity: 0%;

	animation: slide 0.5s cubic-bezier(0.23, 1, 0.320, 1) 0.5s forwards;
}
@keyframes slide {
	0% {
		transform: translateX(-50px);
		opacity: 0%;
	}
	100% {
		transform: translateX(0px);
		opacity: 100%;
	}
}
.notesHeaderText {
	color: var(--dark-color);
	font-size: 1.4rem;
	font-weight: 600;
}
.notesHeaderText span {
	font-weight: 400;
}
.notesHeader i {
	font-size: 0.9rem;
	margin-left: 15px;
}
.horizontalRule {
	height: 0;
	width: 70%;

	margin-left: 4%;
	border-bottom: 2px solid var(--dark-color);
}

.noteWraper {	
	margin: 3% 2%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.note {
	position: relative;
	max-width: 15vw;
	min-width: 10vw;
	max-height: 40vh;
	height: 100%;
	padding: 20px;
	
	color: var(--dark-color);
	border-radius: 5px;
	border-top-right-radius: 0px;
	box-shadow: -10px 15px 15px -10px var(--shadow-color), -15px 10px 15px -10px var(--shadow-color);

	overflow: hidden;
}
.note::before {
	content: "";
	position: absolute;
	top: -1px;
	right: -1px;

	background-image: linear-gradient(45deg, var(--hover-color), var(--hover-color) 50%, var(--white-color) 51%);
	box-shadow: 0 0 10px var(--shadow-color);
	border-bottom-left-radius: 5px;
	width: 30px;
	height: 30px;
}

.note img {
	position: absolute;
	top: -10px;
	right: 30%;

	width: 50px;
}

.favNote {
	/* box-shadow: -10px 15px 15px -10px var(--shadow-color), -15px 10px 15px -10px var(--shadow-color), 
	-5px 10px 10px -10px var(--blue-color), -10px 5px 10px -10px var(--blue-color); */
}

.noteTitle {
	width: 90%;
	font-size: 1.7rem;
	font-weight: 600;
	margin-bottom: 20px;

	overflow: hidden;
}
.noteBody {
	font-size: 1.2rem;
}

.noteActionsBar {
	position: relative;
	bottom: 10px;

	height: 0%;
	width: 100%;
	opacity: 0%;

	display: flex;
	justify-content: space-around;
	align-items: center;

	transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.note:hover .noteActionsBar {
	opacity: 100%;
	height: 10%;
}

.noteActionIcon {
	cursor: pointer;
	color: var(--dark-color);
	min-height: 30px;
	min-width: 30px;

	font-size: 1.1rem;
	border-radius: 5px;
	padding: 2px;

	transition: all 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
}
.noteActionIcon:hover {
	background-color: var(--hover-color);
}

.addNote {
	width: 14vw;
	min-height: 20vh;

	cursor: pointer;
	padding: 0;
	margin: 3% 2%;
}

.addNoteArea {
	opacity: 0%;
	width: 100%;
	height: 100%;

	display: flex;
	justify-content: center;
	align-items: center;

	border-radius: 5px;
	border: 2px dashed var(--dark-color);
}
.addNoteIcon {
	font-size: 2.5rem;
	color: var(--blue-dark-color);
	transform: rotate(0deg);
	transition: all 0.4s 0.2s;
}
.addNote:hover .addNoteIcon{
	transform: rotate(180deg);
}

.searchTitle {
	opacity: 0%;
	width: 50%;
	margin: 2% auto;
	text-align: center;

	animation: slide 0.5s forwards;
}

.searchTitle span {
	font-size: 3rem;
	font-weight: 600;
}
.searchTitle span span {
	font-weight: 400;
}

.deleteAllWraper {
	display: flex;
	justify-content: center;
	align-items: center;

	margin-top: 30px;
}
.binBg {
	position: absolute;
	width: 80%;
	height: 80%;

	font-size: 100rem;
	opacity: 0%;
	transform: rotate(30deg);

	animation: showBin 0.2s cubic-bezier(0.215, 0.610, 0.355, 1) 0.35s forwards;
}
@keyframes showBin {
	0% {
		font-size: 100rem;
		opacity: 0%;
	}
	100% {
		font-size: 15rem;
		opacity: 3%;
	}
}
.deleteAllBtn {
	cursor: pointer;
	width: max-content;

	opacity: 0%;
	padding: 12px;

	display: flex;
	justify-content: center;
	align-items: center;

	border-radius: 10px;
	box-shadow: -10px 15px 15px -10px var(--shadow-color), -15px 10px 15px -10px var(--shadow-color);

	background-color: var(--red-color);
	animation: slide 0.5s forwards;
}
.deleteAllBtn span {
	font-size: 1.2rem;
	font-weight: 500;
	margin-right: 10px;

	color: var(--dark-color);
}
.deleteAllBtn i {
	color: var(--dark-color);
}
