/** Ultra Light */
@font-face {
  font-family: "San Francisco";
  font-weight: 100;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-ultralight-webfont.woff");
}
/** Thin */
@font-face {
  font-family: "San Francisco";
  font-weight: 200;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-thin-webfont.woff");
}
/** Regular */
@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}
/** Medium */
@font-face {
  font-family: "San Francisco";
  font-weight: 500;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-medium-webfont.woff");
}
/** Semi Bold */
@font-face {
  font-family: "San Francisco";
  font-weight: 600;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-semibold-webfont.woff");
}
/** Bold */ 
@font-face {
  font-family: "San Francisco";
  font-weight: 700;
	font-style: normal;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-bold-webfont.woff");
}
/** Heavy */
@font-face {
  font-family: "San Francisco";
  font-weight: 900;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-heavy-webfont.woff");
}

:root {
	--blue-color: #51c4d3;
	--white-color: #f8f5f1;
	--dark-color: #2a2f38;
	--blue-dark-color: #0061a8;
	--red-color: #db3737ce;
	--hover-color: #2a2f381c;
	--shadow-color: #2a2f385b;
	--light-blue-color: #d7e4ee;
}

body, html {
	margin: 0;
	height: max-content;

	background-color: var(--white-color);
	font-family: 'San Francisco';

	overflow-x: hidden;
}
i {
	display: flex;
	align-items: center;
	justify-content: center;
}


.nav-bar {
	width: 98%;
	height: 5vh;
	padding: 2vh 1%;

	z-index: 5;
	position: fixed;
	top: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;

	background-color: var(--white-color);
	color: var(--dark-color);
	box-shadow: 0 2px 5px var(--shadow-color);
}

.nav-container {
	display: flex;
	align-items: center;
}
.toggle-menu-icon {
	cursor: pointer;
	width: 50px;
	height: 50px;
	margin-right: 10px;

	display: flex;
	align-items: center;
	justify-content: center;

	font-size: 1.4rem;
}
.title {
	user-select: none;
	font-size: 2rem;
	font-weight: 700;
}
.title span {
	font-weight: 400;
	color: var(--blue-dark-color);
}

.search-bar {
	position: relative;
	width: 12vw;
	height: 4vh;
	display: flex;

	box-shadow: 0 0 10px 5px var(--shadow-color);
	border-radius: 10px;

	transition: all 0.4s;
}
.search-bar-input {
	appearance: none;
	text-decoration: none;
	width: 100%;
	padding: 2% 5%;

	background-color: var(--white-color);
	border: none;
	border-radius: 10px;
	color: var(--dark-color);
	font-size: 0.9rem;

	transition: all 0.4s;
}
.search-bar-input:focus {
	outline: none;
	background-color: var(--light-blue-color);
}
.search-bar-button {
	position: absolute;
	right: 0;

	width: 2vw;
	height: 100%;
	font-size: 1rem;
	color: var(--blue-dark-color);
	border: none;
	background-color: var(--white-color)00;
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
}




/* MENU */
.show-menu {
	width: 300px !important;
}
.menu-container {
	z-index: 4;
	overflow: hidden;
	width: 80px;
	height: 91vh;
	padding-top: 3vh;

	position: fixed;
	top: 9vh;
	left: 0;

	background-color: var(--white-color);

	transition: all 0.25s cubic-bezier(0.385, 0.175, 0.295, 0.970);
}

.menu-item {
	position: relative;
	text-align: left;
	cursor: pointer;
	height: 8vh;

	display: flex;
	flex-wrap: nowrap;
	overflow-x: hidden;
	align-items: center;

	color: var(--dark-color);
	font-weight: 600;
	font-size: 1.2rem;
}
.menu-item span {
	width: 0%;
	height: 100%;
	z-index: 0;
	position: absolute;

	background-image: linear-gradient(to right, var(--light-blue-color), var(--white-color));

	transition: all 0.4s cubic-bezier(0.39, 0.575, 0.565, 1);
}
.menu-item:hover span {
	width: 100%;
}
.menu-item-bar {
	z-index: 1;
	opacity: 0%;
	min-width: 3px;
	height: 100%;

	background-color: var(--blue-dark-color);
	box-shadow: 1px 0 5px var(--blue-dark-color);

	transition: all 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
}
.menu-item:hover .menu-item-bar {
	opacity: 100%;
}

.menu-item-text {
	z-index: 1;
	font-size: 1.2rem;
}
.menu-item-icon {
	z-index: 1;
	min-width: 50px;
	height: 70px;
	margin: 0 50px 0 10px;

	color: var(--dark-color);
	font-size: 1.5rem;
	overflow: hidden;
}


/* FOOTER */
.footer {
	opacity: 0%;
	user-select: none;
	position: absolute;
	left: calc(50% - 200px / 2);
	bottom: 10px;

	width: 200px;
	padding: 10px;
	display: flex;
	justify-content: center;
	align-items: center;

	color: var(--white-color);
	background-color: var(--dark-color);
	font-weight: 600;
	box-shadow: -10px 15px 15px -10px var(--shadow-color), -15px 10px 15px -10px var(--shadow-color);
	border-radius: 10px;

	transition: all 0.4s cubic-bezier(0.215, 0.610, 0.355, 1);
}
.show-footer {
	opacity: 100%;
}

.external-notes-container-move {
	width: calc(100vw - 4vw - 350px) !important;
}
.desaturate {
	filter: saturate(0.5);
}


.login-page {
	position: relative;
	width: 100vw;
	height: 100vh;

	background-color: var(--dark-color);

	display: flex;
	align-items: center;
	justify-content: center;

	overflow: hidden;
}
.login-title {
	font-size: 3rem;
	font-weight: 600;
	margin-bottom: 40px;
}
.login-title span {
	font-weight: 400;
}
.login-page-form {
	width: 30%;
	height: 60%;
	padding: 2%;

	background-color: var(--white-color);
	border-radius: 10px;
}

.login-field-wraper {
	position: relative;
	width: 100%;
	height: 10vh;

	overflow: hidden;
}
.login-input {
	width: 96%;

	color: var(--blue-dark-color);
	margin: 15px 10px;
	font-size: 1.05em;
	font-weight: 600;

	border-radius: 5px;
	border: none;
	background: none;
}
.login-input:focus {
	outline: none;
}

.login-field-title {
	color: var(--dark-color);
	font-size: 1.2em;
	font-weight: 600;
}

.login-input:focus ~ .login-input-bar {
	width: 100%;
}
.login-input:focus ~ .login-input-bar {
	width: 100%;
}

.login-input-bar {
	position: absolute;
	bottom: 15px;
	z-index: 2;
	opacity: 100%;
	min-height: 2px;
	width: 0%;

	background-color: var(--dark-color);
	/* box-shadow: 1px 0 2px var(--dark-color); */

	transition: all 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
}
.login-btn {
	cursor: pointer;
	display: block;
	width: 20%;
	height: 40px;
	margin: 10px auto;

	border: none;
	border-radius: 5px;
	font-weight: 600;
	color: var(--white-color);
	background-color: var(--blue-dark-color);
}


/* LOGIN ERRORS */
.red-border-input {
	border: 2px solid var(--red-color);
}
.error-message {
	position: absolute;
	top: 100%;
	text-align: center;
	width: 10%;
	height: 30px;

	transition: all 0.2s;

	font-size: 1.2rem;
	font-weight: 600;
	padding: 10px;
	border-radius: 10px;
	border: 2px solid var(--red-color);
}
.show-error-message {
	top: 60%;
}

.loading-page {
	visibility: hidden;
	z-index: 1000;
	position: fixed;
	top: 11vh;
	left: 100%;
	width: 60px;
	height: 60px;
	opacity: 0%;
	
	border-radius: 5px;
	background-color: var(--dark-color);
	display: flex;
	justify-content: center;
	align-items: center;

	transition: all 0.3s;
}
.loading-page div {
	width: 170% !important;
	height: 170% !important;
}
.show-loading-page {
	visibility: visible;
	left: calc(100% - 100px);
	opacity: 100%;
}
